@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .swiper-button-prev::after{
    font-size: 12px !important;
    padding: 10px 13px;
    background-color: white;
    color: #9DA6BA;
    box-shadow: 0px 0px 14px rgba(175, 175, 175, 0.16);
    font-weight: 900;
    border-radius: 50%;
    margin-left: -50px;
    border: 1px solid red;
} */

/* explore started  */
.body_scroll_lock {
  overflow: hidden;
}

.mobile_content_switch {
  right: 0 !important;
}

.explore-menu:hover .explore-btn {
  @apply text-success;
}
.explore-menu:hover .mega-menu {
  @apply visible opacity-100 scale-100;
}

.navigation ul ul ul {
  @apply top-0 right-0;
}
.navigation ul li:hover > ul {
  @apply visible;
}
.navigation ul ul {
  @apply top-0 left-full invisible absolute;
}

.navigation ul li a:hover {
  @apply text-success;
}
.navigation > ul > li:hover > button {
  @apply text-success;
}

/* explore end  */

/* Background image started  */
.instructor-bg {
  background-image: url("../src/assets/images/instructor/instructor.webp");
}
.breadcrumb {
  background-image: url("../src/assets/images/instructor/breadcrumb.webp");
}
/* Background image started  */

/* Instructor started  */

.scroll-bar::-webkit-scrollbar {
  height: 3px;
}
.scroll-bar::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #cecece;
}
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #3789ff;
}

.tabs-instructor a.active {
  color: #3789ff;
  font-weight: bold;
}

.step:after {
  content: "";
  z-index: -1;
  width: calc(50% + 24px);
  background-color: #cfd3d9;
  @apply h-[1px] absolute top-5 -right-6;
}

.step:before {
  content: "";
  z-index: -1;
  width: calc(50% + 24px);
  background-color: #cfd3d9;
  @apply h-[1px] absolute top-5 -left-6;
}
.step-1::before {
  display: none;
}
.step-4::after {
  display: none;
}

@media screen and (max-width: 1023px) {
  .step:before {
    @apply hidden;
  }
  .step:after {
    @apply h-full w-[1px] right-auto left-5 top-6;
  }
  .step-content {
    @apply pl-12 !-mt-10;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .step-3:after {
    @apply hidden;
  }
}

/* Instructor end */

/* .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}



@media screen and (min-width: 768px) {
    .swiper-button-prev {
        left: -50px;
      }
      .swiper-button-next {
        right: -50px;
      }
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: -50px;
    display: none;
  }
  .swiper-button-next {
    right: -50px;
    display: none;
  }
} */

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  /* bottom: -30px;
  left: 0;
  width: 100%; */
}

.swiper-button-next,
.swiper-button-prev {
  color: #0e2341 !important;
  font-size: 20px;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  right: 0px !important;
  top: calc(50% - 40px / 2 + 3.7px) !important;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgb(175 175 175 / 16%);
  border-radius: 40px;
}

.prevbtn {
  color: #0e2341;
}

.nextbtn:after,
.prevbtn:after {
  font-size: 16px !important;
}

/* Accordion started  */
.acc {
  margin-bottom: 10px;
}

.acc-head {
  padding: 15px 10px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.acc-head::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: black;
  line-height: 18px;
  height: 24px;
}

.acc-head::after {
  content: "+";
}
.acc-head.active:after {
  content: "-";
  font-size: 46px;
  line-height: 10px;
}

.acc-content {
  padding: 15px 10px;
  display: none;
}

/* Accordion end  */

/* scrollbar started  */
/* width */
.scrollbar-main::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scrollbar-main::-webkit-scrollbar-track {
  background-color: #eaeaea;
}

/* Handle */
.scrollbar-main::-webkit-scrollbar-thumb {
  background: #9da6ba;
}

/* scrollbar end  */

/* Mix started  */
.learning-objective {
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2),
    0px 12px 24px rgba(145, 158, 171, 0.2);
}
/* Mix end  */
.courseSlider .swiper-pagination-bullet {
  bottom: -10% !important;

  background-color: red;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background: #0e2341;
}

/* toggle started  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 6px;
  left: -2px;
  right: 12px;
  bottom: 8px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle end  */


.react-stars{
  @apply space-x-1;
}