@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* .swiper-button-prev::after{
    font-size: 12px !important;
    padding: 10px 13px;
    background-color: white;
    color: #9DA6BA;
    box-shadow: 0px 0px 14px rgba(175, 175, 175, 0.16);
    font-weight: 900;
    border-radius: 50%;
    margin-left: -50px;
    border: 1px solid red;
} */

.body_scroll_lock {
    overflow: hidden;
  }
  
  .mobile_content_switch {
    right: 0 !important;
  }
  
  .explore-menu:hover .explore-btn {
    @apply text-success;
  }
  .explore-menu:hover .mega-menu {
    @apply visible opacity-100 scale-100;
  }
  
  .navigation ul ul ul {
    @apply top-0 right-0;
  }
  .navigation ul li:hover > ul {
    @apply visible;
  }
  .navigation ul ul {
    @apply top-0 left-full invisible absolute;
  }
  
  .navigation ul li a:hover {
    @apply text-success;
  }
  .navigation > ul > li:hover > button {
    @apply text-success;
  }
  